[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
statsmodels = "*"
scikit-learn = "*"
matplotlib = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pingouin = "*"
seaborn = "*"
ipykernel = "*"
requests = "*"
joblib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
